[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://githubfast.com/NVIDIA/cutlass
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://githubfast.com/fmtlib/fmt
